@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navlink {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.navlink:hover {
  background-color:dimgray;
  .icon{
    color:white;
  }
}
.icon {
  margin-right: 30px;
  height: 25px;
  width: 25px;
  color: #636363;
}
.textNav {
  color: #FFF;
  font-family:Arial, Helvetica, sans-serif;
}
.title {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  color: #FFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style:bold;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #18181b;
  border: none;
  border-radius: 2rem;
}

